# ark model configs
MODEL_NAME=
API_KEY=
API_URL=

# TAVILY_API_KEY
TAVILY_API_KEY=

LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=


IMAGE_GEN_BASE_URL=
IMAGE_GEN_API_KEY=
IMAGE_GEN_MODEL=

VIDEO_GEN_BASE_URL=
VIDEO_GEN_API_KEY=
VIDEO_GEN_MODEL=

SPEECH_BASE_URL=
SPEECH_API_KEY=
SPEECH_MODEL=

TTS_APPID = 
TTS_ACCESS_TOKEN = 
TTS_CLUSTER =
